header nav ul {
    padding: 0;
    list-style: none;
    height: 50px;
    width: 100%;
    background: brown;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    padding-left: 40px;
}